# Set default behavior to automatically normalize line endings.
* text=auto

# shell files should always be LF
*.sh text eol=lf

# Unity files
*.asset text eol=lf
*.meta text eol=lf
*.asmdef text eol=lf
